.idea
.vscode
# creds/*creds
docs/jsdoc/fonts
creds/main_creds*
venv
client/predict-chain-ui/node_modules
data/*
models/*
__pycache__
docs/sphinx/.doctrees
database.json
*.pyc
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.gz
*.inv