<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PredictChain</title>
    <script
      src="https://cdn.jsdelivr.net/npm/algosdk@v2.1.0/dist/browser/algosdk.min.js"
      integrity="sha384-SwM9TdxjIFpIT2FUfchrQvtwi748UI0q12Zi32yd6BM8D/lCTumPhw0+BrPC0yd0"
      crossorigin="anonymous" type="module"></script>
    <script type="module" src="{{ url_for('static', filename='utils.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <button onclick="checkBalance()">Test</button>
</body>
</html>