html {
    scroll-behavior: smooth;
    font-size: large;
}


a{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

a:hover{
    color: gray;
}
.container p{
    line-height: 200px; /* Create scrollbar to test positioning */
}

.containertext {
    display: flex;
    align-items: top;
    justify-content: center
}

.img {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 40px;
    max-width: 100%;
    max-height:100%;
}

.temp {
    color:black;
    font-weight: lighter;
    font-size: 30px;
    text-decoration: underline;
}