.header {
  width:100%;
  background: #333;
  height:60px;
  padding: 30px 0;
  position:static;
}

.footer {
  width:100%;
  background: #333;
  height:60px;
  padding: 30px 0;
  position:fixed;
  bottom: 0;
}

a{
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  display: inline-block;
}

a:hover{
  color: gray;
}

Link:hover{
  color: gray;
}


.login {
  height: calc(85vh - 120px);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 60px;
}

.login__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

.login__btn {
  padding: 15px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: black;
}

.login__google {
  background-color: #4285f4;
}

.login div {
  margin-top: 7px;
}