.dashboard {
  top: 50%;
  left: 50%;
  margin-top: 50px;
  /* this is half the height of your div*/
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  height: 1200px;
  width: 95%;
  position: relative;
  border-radius: 10px;
}

.credentials__txt {
  display: flex;
  align-items: center;
  text-align: left;
  margin-left: 30px;
  margin-top: -20px;
  font-weight: 500;
  font-size: 16px;
}

.dashboard__btn {
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
  width: 100px;
  border: none;
  color: white;
  background-color: black;
  border-radius: 3px;
  position: absolute;
  bottom: 30px;
  left: 40px;
}

.regular__btn {
  font-size: 20px;
  margin-top: 2px;
  border-radius: 3px;
  width: 140px;
  border: none;
  color: white;
  background-color: darkblue;
  position: absolute;
  transform: scale(0.8); /* change the scale value to adjust the font size */
}

.regular__btn:hover {
  background-color: rgb(82, 82, 172);
}

.dashboard__btn:hover {
  background-color: grey;
}

.dashboard div {
  margin-top: 7px;
}

.fixed-footer {
  width: 100%;
  position: static;
  background: #333;
  padding: 20px 0;
  color: #fff;
}

.fixed-footer {
  bottom: 0;
}

.fixed-header {
  width: 100%;
  position: static;
  background: #333;
  padding: 40px 0;
  color: #fff;
}

.fixed-header {
  top: 0;
}

a {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: gray;
}

.container p {
  line-height: 200px;
}